<!doctype html>
<!-- <title>WeatherAPP</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %} -->

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="An weatherAPP made by a group of students at UIB">
  <title>Group30's WeatherAPP</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
  <header>
    <nav id="topMenu">
      <div class="navBox">
        <h1>
          <a href="{{ url_for('index') }}">Group30's WeatherAPP</a>
        </h1>
        <ul>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="https://github.com/StaleJ/Mandatory-assignment-1-INF142-group-30">GitHub</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="menu">
      <select name="cities" class="city-select">
        {% for city in data %}
        <option value="{{ city }}">{{city}}</option>
        {% endfor %}
      </select>
  </div>
  <main>
    <section>
      <div class="location">
        <div class="city">Bergen</div>
        <div class="date">Wednesday 07 April 2021</div>
      </div>
    </section>
    <div class="current">
      <div class="temp">20 <span>°C</span></div>
      <div class="rain">0.5 <span>mm</span></div>
    </div>
  </main>
  <footer>
    <p>Made by INF142 <a href="https://github.com/StaleJ/Mandatory-assignment-1-INF142-group-30">Group 30!</a>. Copyrigth &copy; 2021, Group30</p>
  </footer>
</div>

</body>

</html>