<!doctype html>
<!-- <title>WeatherAPP</title>
{% if name %}
  <h1>fuck {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %} -->

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An weatherAPP made by a group of students at UIB">
    <title>Group30's WeatherAPP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
</head>
<body onload="javascript:whenload()">
<div class="wrapper">
    <header>
        <nav id="topMenu">
            <div class="navBox">
                <h1>
                    <a href="{{ url_for('index') }}">Group30's WeatherAPP</a>
                </h1>
                <ul>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="https://github.com/StaleJ/Mandatory-assignment-1-INF142-group-30">GitHub</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="menu">
        <select name="cities" id="cities" class="city-select">
            {% for city in data %}
            <option value="{{ city }}">{{city}}</option>
            {% endfor %}
        </select>

    </div>
    <main>
        <section>
            <div class="location">
                <div class="city"><p id="city">Bergen</p></div>
                <div class="date"><p id="date">Wednesday 07 April 2021</p></div>
            </div>
        </section>
        <div class="current">
            <div class="temp"><p id="temp">20</p></div>
            <div class="rain"><p id="rain">0,5</p> </div>
        </div>
        <section>
            <div>
                <canvas id="rainChart" width="600" height="200"></canvas>
            </div>
            <div>
                <canvas id="tempChart" width="600" height="200"></canvas>
            </div>
        </section>
    </main>
    <footer>
        <p>Made by INF142 <a href="https://github.com/StaleJ/Mandatory-assignment-1-INF142-group-30">Group 30!</a>.
            Copyrigth &copy; 2021, Group30</p>
    </footer>
</div>
    <script>
        let city_select = document.getElementById('cities');
        let temp = document.getElementById('temp');
        let rain = document.getElementById('rain');
        let city = document.getElementById('city');

        city_select.onchange = function test() {
            selected_city = city_select.value;

            fetch('/' + selected_city + '/last').then(function (response) {
                response.json().then(function (data) {
                    dato = data[selected_city];
                    city.innerHTML = selected_city
                    for (var key in dato) {
                        temp.innerHTML = dato[key].Temperature + "℃";
                        rain.innerHTML = dato[key].Rain + " mm"
                    }
                });
            });
        }

        function whenload() {
            selected_city = city_select.value;

            fetch('/' + selected_city + '/last').then(function (response) {
                response.json().then(function (data) {
                    dato = data[selected_city];
                    city.innerHTML = selected_city
                    for (var key in dato) {
                        temp.innerHTML = dato[key].Temperature + "℃";
                        rain.innerHTML = dato[key].Rain + " mm"
                        console.log("temp: " + temp.innerHTML);
                        console.log("rain: " + rain.innerHTML);

                    }
                });
            });
        }
    </script>
<script>
    var ctx = document.getElementById('rainChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['00', '01', '02', '03', '04', '05', '06', '08', '09',
                '10', '11', '12', '13', '14', '15', '16', '17', '18', '19',
                '20', '21', '22', '23', '24'],
            datasets: [{
                label: 'rain',
                data: [0.2, 0.1, 0.8, 0.1, 0.8, 0.9, 0.5, 0.4, 0.2, 0.3, 0.3, 0.8,
                    0.5, 0.6, 0.5, 0.8, 0.4, 0.6, 0.4, 0.7, 0.6, 0.6, 0.3, 0.5],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false,
                },
                title: {
                    display: true,
                    text: 'Rain',
                    color: 'gold'
                },
            }
        }
    });
</script>
<script>
    var ctx = document.getElementById('tempChart').getContext('2d');
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: data = {
            labels: ['00', '01', '02', '03', '04', '05', '06', '08', '09',
                '10', '11', '12', '13', '14', '15', '16', '17', '18', '19',
                '20', '21', '22', '23', '24'],
            datasets: [{
                label: 'temp',
                data: [10, 9, 8, 7, 7, 7, 8, 8, 9, 9, 10, 9, 11, 12, 13, 13, 13, 12, 12, 11, 10, 9, 10, 10],
                fill: false,
                borderColor: 'rgb(255, 99, 132)',
                tension: 0.1
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false,
                },
                title: {
                    display: true,
                    text: 'Temp',
                    color: 'gold'
                },
            },
            scales: {
                yAxes: [{
                    type: 'time',
                    scaleLabel: {
                        display: true,
                        labelString: 'Hours'
                    },
                }],
                x: [{
                    type: 'temp',
                    scaleLabel: {
                        display: true,
                        labelString: '°C'
                    },
                }]
            }
        }
    });
</script>
</body>

</html>